{% extends 'weather_app/base.html' %}

{% block content %}

<h1>Weather app</h1>
<br/>
<h3>Raw data from API</h3>
{{ api }}
<br/>
<br/>

<h3>Desired output</h3>
{% if zipcode %}
    {{ zipcode }}
{% endif %}

{% if api %}
    {% if api == "Error" %}
        There was an error, please try again...
    {% else %}
        <div class="p-5 rounded-lg m-3 {{ category_color }}">
          <h1 class="display-4">{{ api.0.Category.Name }}</h1>
          <p class="lead">{{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
          <p>{{ category_description }}</p>
        </div>
    {% endif %}
{% endif %}

{% endblock %}

